<{if $moduletitle != ''}>
    <fieldset>
        <legend><{$moduletitle}></legend>
    </fieldset>
<{/if}>

<{if $welcome}>
    <div class="xooghostMsg">
        <{$welcome}>
    </div>
<{/if}>

<{includeq file='module:xooghost|xooghost_css.html'}>

<{if $template == 'blog'}>
    <{includeq file="module:xooghost|xooghost_index_blog.html"}>
<{elseif $template == 'list'}>
    <{includeq file="module:xooghost|xooghost_index_list.html"}>
<{elseif $template == 'table'}>
    <{includeq file="module:xooghost|xooghost_index_table.html"}>
<{elseif $template == 'select'}>
    <{includeq file="module:xooghost|xooghost_index_select.html"}>
<{/if}>