<{if $moduletitle != ''}>
    <fieldset>
        <legend><{$moduletitle}><a href="<{xoAppUrl modules/xooghost/backend.php}>" title="<{$smarty.const._XOO_GHOST_RSS_FEED}>"><img src="<{xoImgUrl modules/xooghost/icons/32/rss.png}>" /></a></legend>
    </fieldset>
<{/if}>

<{if $welcome}>
    <div class="xooghostMsg">
        <{$welcome}>
    </div>
<{/if}>

<{includeq file='module:xooghost|xooghost_css.html'}>

<{$xoopaginate->display()}>
<{if $template == 'blog'}>
    <{includeq file="module:xooghost|xooghost_index_blog.html"}>
<{elseif $template == 'list'}>
    <{includeq file="module:xooghost|xooghost_index_list.html"}>
<{elseif $template == 'table'}>
    <{includeq file="module:xooghost|xooghost_index_table.html"}>
<{elseif $template == 'select'}>
    <{includeq file="module:xooghost|xooghost_index_select.html"}>
<{/if}>
<{$xoopaginate->display()}>

<{includeq file='module:xooghost|xooghost_footer.html'}>
