<{if $moduletitle != ''}>
    <fieldset>
        <legend><{$moduletitle}></legend>
    </fieldset>
<{/if}>

<{if $welcome}>
    <div class="xooghostMsg">
        <{$welcome}>
    </div>
<{/if}>

<{if $template == 'news'}>
    <{includeq file='db:xooghost_index_news.html'}>
<{elseif $template == 'list'}>
    <{includeq file='db:xooghost_index_list.html'}>
<{elseif $template == 'table'}>
    <{includeq file='db:xooghost_index_table.html'}>
<{elseif $template == 'select'}>
    <{includeq file='db:xooghost_index_select.html'}>
<{/if}>