<{includeq file='module:xooghost|xooghost_css.html'}>

<{if $moduletitle != '' && !$pages}>
    <fieldset>
        <legend><{$moduletitle}></legend>
    </fieldset>
<{/if}>

<{if !$not_found}>
    <div class="item">
        <div class="itemHead">
            <{if $xooghost_qrcode.use_qrcode}>
                <div class="itemQRcode">
                    <a href="<{$page.xooghost_link}>" title="<{$page.xooghost_title}>"><img src="<{xoAppUrl modules/xooghost/qrcode.php}>?url=<{$page.xooghost_link}>" alt="<{$page.xooghost_link}>"></a>
                </div>
                <div>
                </div>
            <{/if}>
            <{if $page.xooghost_image != "blank.gif"}>
                <div class="itemImage">
                    <img src="<{$page.xooghost_image_link}>">
                </div>
            <{/if}>

            <div>
                <div class="itemTitle">
                    <a href="<{$page.xooghost_link}>" title="<{$page.xooghost_title}>"><{$page.xooghost_title}></a>
                </div>

                <div class="itemInfo">
                    <div class="itemPoster">
                        <{$smarty.const._XOO_GHOST_AUTHOR}>:
                        <a href="<{xoAppUrl userinfo.php}>?uid=<{$page.xooghost_uid}>" title="<{$page.xooghost_uid_name}>"><{$page.xooghost_uid_name}></a>
                    </div>
                    <div class="itemDate">
                        <{$smarty.const._XOO_GHOST_PUBLISHED}>: <span><{$page.xooghost_published}></span>
                    </div>
                    <{if $page.tags}>
                        <{includeq file="module:xootags|xootags_bar.html" tags=$page.tags}>
                    <{/if}>
                </div>
            </div>
        </div>

        <{if $page.xooghost_content}>
            <div class="itemBody">
                <div class="itemText">
                    <{$page.xooghost_content}>
                </div>
            </div>
        <{else}>
            <div class="clear"></div>
        <{/if}>

        <{if $page.readmore}>
            <div class="itemFoot floatright">
                <a href="<{$page.xooghost_link}>" title="<{$smarty.const._XOO_GHOST_READMORE}>"><{$smarty.const._XOO_GHOST_READMORE}></a>
            </div>
            <div class="clear"></div>
        <{/if}>

        <{if !$pages}>
            <div class="itemFoot">
                <div class="itemStat floatleft">
                    <button id="button-reads" title="<{$smarty.const._XOO_GHOST_READS}>"><i class="reads"></i><{$page.xooghost_hits}></button>
                </div>

                <{if $xooghost_rld.rld_mode != ''}>
                    <div class="floatright">
                        <{if $xooghost_rld.rld_mode == 'rate'}>
                            <{includeq file='module:xooghost|xooghost_page_rate.html'}>
                        <{else}>
                            <{includeq file='module:xooghost|xooghost_page_like_dislike.html'}>
                        <{/if}>
                    </div>
                <{/if}>

                <div class="clear"></div>
            </div>
            <{includeq file='module:xoosocialnetwork|xoosocialnetwork.html'}>
        <{/if}>
    </div>
<{else}>
    <div class="errorMsg">
        <{$smarty.const._XOO_GHOST_NOTFOUND}>
    </div>
<{/if}>