<{includeq file='db:xooghost_css.html'}>

<div class="item">
    <div class="itemHead">
        <div class="txtcenter itemTitle">
            <a href="<{$page.xooghost_link}>" title="<{$page.xooghost_title}>"><{$page.xooghost_title}></a>
        </div>
    </div>

    <div class="itemBody">
        <{if $page.xooghost_image != "blank.gif"}>
            <{if $page.xooghost_image_link}>
                <i class="xooghost-image-item<{$page.xooghost_id}>">
            <{/if}>
        <{/if}>
        <div class="itemText item<{$page.xooghost_id}>">
            <{$page.xooghost_content}>
        </div>
        <{if $page.xooghost_image_link}>
            </i>
        <{/if}>
    </div>
</div>